/*===== Basic Style =====*/

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

section{
    display: block;
    padding: 20px 5px 50px 5px;
}

/*===== Common Style =====*/

h1{
    font-size: 40px;
    font-weight: 600;   
    line-height: 60px;
}

h2{
    font-size: 35px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 700; 
    text-align: center;
}

h4{
    font-size: 25px;
    font-weight: 700; 
    text-align: center;
}

h5{
    font-size: 23px;
    font-weight: 600;
}

h6{
    font-size: 16px;
    font-weight: 600;
}

p{
    font-size: 16px;
    font-weight: 500;
    color: #9b9b9b;
}

.highlight{
    color: #6255DB;
    font-weight: 800;
}

.row{
    margin: 0 !important;
}

/*=====================================================================*/


/*===== Hero Section=====*/

.top-section{
    background-image: url(../image/header-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.about-me{
    padding: 10px 5px;
}

.hero-button{
    color: #ffffff;
    background-image: linear-gradient(45deg, #4979E1, #812AD7);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 25px;
    border-style: none;
    border-radius: 5px;
    text-decoration: none;
}

.hero-button:hover{
    background-image: linear-gradient(45deg, #0BF0C7, #35A2F2); 
    text-decoration: none;
    color: #000000;
}


/*===== Biography Section=====*/

.biodata-section{
    background-image: url(../image/biography-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.biodata-title{
    padding: 30px 0 20px 0;
}

.biodata-details{
    padding: 20px 5px;
}

.biodata-button{
    color: #ffffff;
    background-image: linear-gradient(45deg, #FF1570, #FF3081);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 23px;
    border-style: none;
    border-radius: 5px;
    text-decoration: none;
}

.biodata-button:hover{
    background-image: linear-gradient(45deg, #FFA92E, #FFCD1A);
    text-decoration: none;
    color: #000000;
}


/*========================================================================*/

/*===== Work Section=====*/

.work-section{
    background-image: url(../image/latest-work-bg.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0 80px 0;
}

.work-title{
    margin: 25px 0px 45px 0px;   
}

.work-content{
    margin: 10px 3px;
    padding: 5px;
    background-color: #f1f7fa;
    border-radius: 20px;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
}
.project-title{
    color: #363958;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    padding: 10px;
}

.project-details{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
}


/*========================================================================*/

/*===== Experience Section=====*/

.experience-section{
    background-image: url(../image/biography-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 50px 0 80px 0;
}

.card{
    min-height: 300px;
    box-shadow: 10px 10px 20px #A9A9A9;
    border-radius: 5px;
    background-color: #f9fdfb;
    margin:5px 0px 15px 0px;
    display: block;
}

.experience-title{
    margin: 20px 0px 35px 0px;
}


.experience-details{
    padding: 5px 2px 0px 0px;
    font-weight: 400;
}

.orange-highlight{
    color: #FF9E33;
}

#full-stack{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, #ecec23, #cd7f32);
    border-image-slice: 1;
}

#baby-web{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, #0000FF, #00FFFF);
    border-image-slice: 1;
}


/*========================================================================*/

/*===== Testimonial Section=====*/

.testimonial-section{
    background-image: url(../image/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 50px 0px;
}

.testimonial-title{
    margin: 30px 0;
    font-size: 30px;
}

.testimonial-content{
    background-color: #f6fdff;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    box-shadow: 15px 15px 25px #d3d3d3;
    margin: 5px;
    padding: 20px 16px;
    
}

.client-say{
    color: #8d8d8d;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 5px 5px 20px 10px;
}

.client-name{
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin:0;
    padding: 0px 0px 3px 0px;
}

.client-position{
    color:  #353535;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0px 0px 5px 0px;
}

/*=====================================================================*/

/*===== Contact Section=====*/

.contact-section{
    background:#E5E5E5;
    padding: 80px 0 20px 0;
}

.message{
    background-image: url(../image/msg-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.message-title{
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 80px 0;
}

.chat-btn{
    background: linear-gradient(180deg, #FF8063, #F46060);
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    position: absolute;
    right: 8%;
    top: 40%;  
}

.chat-btn:hover{
    background: linear-gradient(180deg, #63b9ff, #60b9f4);
    color: #ffffff; 
    text-decoration: none;
}

.mail-title{
    font-size: 18px;
    text-transform: uppercase;
    color:#696871;
    padding: 35px 0 5px 0;
    display: block;
}

.mail{
    font-size: 26px;
    font-weight: 600;
    color:#363958;
    text-decoration: none;
    display: block;
}

.social-btn{
    padding-top: 20px;
}

li{
    list-style: none;
}

.social-icon{
    font-size: 25px;
    color: #000000;
    margin: 5px;
}

/*=====================================================================*/

/*===== footer Section=====*/

footer{
    margin:0;
    background-color: lightgray;
}

p{
    padding: 15px 0;
    margin: 0;
    text-align: center;
    color: #7e7e7e;
    font-size: 12px;
}